@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*,
*::after,
*::before {
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
font-family: 'Raleway', sans-serif;
color: #142251;
max-width: 1822px;
}
html,
body {
   height: 100%;
   background-color: #D4EAFF;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
   font-weight: 500;
   padding-bottom: 77px;
}
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;

}
.header
{
   display: flex;
   align-items: center;
   gap: 87px;   
   h1 {
      font-size: 165px;
      line-height: 1.2;
      font-weight: 500;      
   }
}
.main {
   flex: 1 1 auto;
   background-color: white;
   border-radius: 50px;
   padding: 80px 46px;
   h2 {
      font-size: 94px;
      line-height: 1;
      font-weight: 500;
      }
   .grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      .col {
         background-color: #D4EAFF;
         padding: 10px 10px 37px 10px;
         border-radius: 40px;
         .thumb {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 224px;
            border-radius: 30px;
            img {
               width: 100%;
               height: auto;
               position: absolute;
               left: 50%;
               top: 50%;
               transform: translate(-50%, -50%);
               object-fit: cover;
            }
         }
         p {
            font-size: 34px;
            line-height: 0.9;
            padding-left: 20px;
            padding-right: 20px;
         }
         ul {
            font-size: 17px;
            line-height: 1;
            list-style-type: none;
            padding-left: 20px;
            padding-right: 20px;
            li {

            }
            li:before {
               content: '-';
               margin-right: 8px;
            }
         }
      }
   }
}
